body {
    font-family: 'EB Garamond', serif;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: aquamarine;
    background-image: url("https://source.unsplash.com/random/1920x1080/?wallpaper,landscape" )
   

}

.Card{
  
    background:black;
    opacity: 0.5;
    color: white;
    padding: 2.5rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
    text-align: center;
    
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 3.5em;
    width: 3.5em;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color:#7c7c7c2b;
}
button:hover{
    background-color:aliceblue;
} 
input.search-input{

    padding: 0.8em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    font-weight: bold;
    border: none;
    outline: none;
}

.Weather{
    display: none;
}
.error{
    font-size: large;
    text-align: left;
    display: none;
}

.temperature{
 font-size: 200%;
}

.description{
    font-size: 200%;
}

.humidity{
    font-size: 200%;
}

.speed{
    font-size: 200%;
}
